@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fira Code";
  src: url("../../public/fonts/firacode-variable.ttf") format("ttf");
}

* {
  font-family: 'Fira Code', sans-serif;
}

html, body {
  @apply bg-zinc-900;
}